.example-spacer {
  flex: 1 1 auto;
}
table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}
.enrolledTable {
  .mat-column-id {
    flex: 0 0 2% !important;
  }
}

.container {
  margin: 10px;
}
.tab-container {
  padding: 10px;
  padding-bottom: 30px;
}
.formCardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  mat-card {
    margin-top: 100px;
    min-width: 400px;
  }
  form {
    display: flex;
    flex-direction: column;
    mat-icon:hover {
      cursor: pointer;
    }
    .buttons {
      width: 100%;
      display: flex;
      justify-content: center;

      button {
        margin: 20px;
      }
    }
  }
}
